@charset 'UTF-8';
@import './templates/menu';

* { 
    box-sizing: border-box;
}

body {
    background: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.app-renderer {
    position: fixed;
    z-index: 10;
}